html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


#reg-fom{
    max-width:1400px;
    
    padding:0 5%;
   
    line-height:25px;
}
.login-page{
    border:2px solid red;
    max-width:700px;
    margin:auto;
    border-radius:10%;
    padding:0 5% 5% 5%;
    background-color:lavender;




}